<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesAboutme.css') }}">
    <title>About me</title>
</head>
<body>

  <div class="container">
    <img src="{{ url_for('static', filename='programmer_photo.jpeg') }}" alt="Programmer Photo" class="center">
    <h2>Mohammad Axel Ariapaskha</h2>
    <p>1301204553</p>
  </div>

</body>
</html>
